/*  Both chapters */
.container {
  padding: 3rem;
  width: 100%
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid_container div {
  text-align: left;
  padding: 1.25rem;
}

.grid_container a, .small_grid_container a {
  color: var(--navyblue);
  text-transform: capitalize;
  text-decoration: underline;
}

.grid_container h2, h3, h4 {
  color: var(--midnightblue);
  font-weight: bolder;
  text-transform: uppercase;
}

.grid_container h2 {
  font-size: 4.5rem;
}

/*
.grid_height {
  height: 35rem;
} */
.text_divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;
  padding-bottom: 0.5rem;
  color: var(--summersky);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.text_divider::before {
  content: '';
  height: 0.06rem;
  background-color: var(--summersky);
  width: 3rem;
}

.text_divider::before {
  margin-right: var(--text-divider-gap);
}

.square_blue_overlay {
  width: 12rem;
  height: 12rem;
  background: var(--summersky);
  opacity: 0.6;
  margin-right: -7.5rem;
  mix-blend-mode: hard-light;
}

.overlay_1 {
  transform: rotate(19deg) translate(80%, -145%) scale(2);
}

article a {
  color: var(--midnightblue);
}

/* Chapter 1 */
.item2_image {
  width: 100%;
  padding-right: 2rem;
}

.flex_box_container {
  flex-direction: row;
  display: flex;
  margin-top: 3rem;
}

.flex_item {
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 114, 198, 0.1);
  width: 33%;
  position: relative;
}

.icon {
  position: absolute;
  left: 1rem;
  top: -3rem;
}

.small_grid_container {
  padding: 1.25rem;
}

/* Chapter 2 */
.chapter_2 {
  background-color: #FDFAF7;
}

.stages a {
  color: var(--summersky);
  font-weight: bold;
  text-decoration: none;
}

.flex_box_container_chap_2 {
  flex-direction: row;
  margin-top: 3rem;
}

.flex_item_chap_2 {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(0, 114, 198, 0.1);
  position: relative;
}

.interview_image_box img {
  max-height: 100%;
  max-width: 100%;
}

.sticky_notes p {
  text-align: left;
  text-transform: uppercase;
  color: var(--navyblue);
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}

.overlay_2 {
  transform: rotate(19deg) translate(-80%, -130%) scale(2);
  opacity: 0.9;
  mix-blend-mode: hard-light;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .grid_container, .flex_box_container {
    display: contents;
  }

  /* .item2_image {
    width: -webkit-fill-available;
  } */
  .flex_item {
    width: auto;
    margin-top: 5rem;
  }

  .overlay_1 {
    transform: rotate(19deg) translate(50%, -135%) scale(2);
  }
}

@media only screen and (min-width: 600px) {
  .interview_image_box {
    display: none;
  }
}
