html {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  /* font-family: 'Open Sans', sans-serif; */
  width: 100%;
  box-sizing: border-box;
}

/* Menu links */
a, a:visited, a:hover {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}

/* Flexbox styles */
nav {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 95%;
}

ol {
  padding-left: 0;
}

h1 {
  text-transform: uppercase;
  font-size: 5.5rem;
}

h2, h3 {
  margin-top: 0;
  text-transform: uppercase;
}

strong {
  color: var(--midnightblue);
    font-weight: bolder;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4.5rem;
  }
}
