html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

/* Menu links */
a, a:visited, a:hover {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/* Flexbox styles */
nav {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 95%;
}

ol {
  padding-left: 0;
}

ul {
  padding-left: 2rem;
}

h1 {
  text-transform: uppercase;
  font-size: 7rem;
}

h2 {
  font-size: 4.5rem;
  margin-top: 0;
  text-transform: uppercase;
  color: #0E0B58;
  font-weight: bolder;
}

h3 {
  margin-top: 0;
  text-transform: uppercase;
  color: #0E0B58;
  font-weight: bolder;
}

strong {
  color: #0E0B58;
  font-weight: bolder;
}

p {
  font-size: 1.5rem;
}

footer {
  padding: 2rem;
  background-color: #0E0B58;
  justify-content: space-between;
  display: flex;
  color: white;
}


@media only screen and (max-width: 600px) {

  footer {
    display: block;
  }
}
