/* Logo */
.header__logo {
  background-color: white;
  padding: 2.18125rem 0.625rem 0.625rem 0.625rem;
  margin-top: 0;
  position: relative;
  z-index: 0;
}

img.header__logo {
  width: 9.625rem;
  height: 1.18125rem;
}

/* Burger Menu */
#button_burger {
  z-index: 2;
}

#button_burger span {
  display: block;
  width: 3rem;
  height: 0.1875rem;
  background-color: #0868FF;
  margin-bottom: 0.4rem;
  transform-origin: 7px 2px;
  transition: all 300ms ease-in-out;
}

.header.open span:first-child {
  transform: rotate(45deg);
}

.header.open span:nth-child(2) {
  opacity: 0;
}

.header.open span:last-child {
  transform: rotate(-45deg);
}

/* Overlay */
.header.open .overlay {
  background-color: #0E0B58;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  z-index: 1;
}

/* Header Menu */
.header__menu {
  color: white;
  font-size: 1.875rem;
  font-weight: bold;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  counter-reset: li;
  margin-top: 0;
  position: absolute;
  top: 1%;
  z-index: 1;
}

.header__menu a {
  display: block;
  text-align: left;
  font-size: 7rem;
  line-height: 7rem;
}

.content-heading {
  color: white;
  font-size: 3rem;
  margin-bottom: 5.3125rem;
  margin-top: 0;
}

ol li {
  font-weight: bold;
  margin-bottom: 1.75rem;
  display: flex;
  align-items: center;
}

ol li:before {
  content: '';
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  color: white;
  margin-right: 1.25rem;
  font-size: 2rem;
}

/* Menu links hover */
.text-container {
  position: relative;
  padding-right: 1rem;
  font-size: 7rem;
  line-height: 7rem;
}

@media(hover: hover) and (pointer: fine) {
  li:hover a {
    opacity: 0.2;
    top: 15px;
  }

  .text-overlay:hover:after {
    content: attr(data-hover);
    opacity: 1;
    color: #45B0FF;
    font-size: 1.5rem;
    font-weight: lighter;
    transform: translate(5%, -100%);
    position: absolute;
  }
}

@media only screen and (max-width: 600px) {
  .header__menu a {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  .text-container {
    line-height: 1rem;
  }
}
