.open_menu_section {
  background-color: var(--midnightblue);
  padding: 10rem 3rem 10rem 3rem;
}

.open_menu_text {
  color: var(--white);
}

.open_menu_text h2 {
  margin-right: 4.875rem;
}

.open_menu {
  color: var(--white);
  font-size: 4.5rem;
  font-weight: bold;
  counter-reset: li;
  position: relative;
  left: 0;
  line-height: 5rem;
  padding-left: 3rem;
}

.text-open-menu-overlay:hover:after {
  content: attr(data-hover);
  opacity: 1;
  color: var(--summersky);
  font-size: 1.5rem;
  font-weight: lighter;
  position: absolute;
  height: auto;
  width: 100%;
  justify-content: flex-start;
}

@media only screen and (min-width: 600px) {
  .open_menu_text {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .open_menu_section {
    padding: 5rem 3rem 5rem 3rem;
  }

  .open_menu {
    font-size: var(--font-large);
    line-height: 1rem;
    padding-left: 1rem;
  }

  .open_menu a {
    font-size: var(--font-large);
    line-height: 2.5rem;
  }
}
