.slider-container {
  overflow: hidden;
  position: relative;
}

.my-slider, .slider-item {
  position: relative;
}

.card {
  overflow: hidden;
  position: relative;
  height: 40rem;
}

.card-title {
  text-transform: capitalize;
  padding-top: 2rem;
}

.card p {
  text-align: right;
  width: 150px;
  display: inline-block;
  position: absolute;
  right: -5rem;
  bottom: 3rem;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.controls {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    background: #333;
    width: 100%;
    top: 50%;
    transform: translatey(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls li:hover {
    cursor: pointer;
}
