/** Global */
html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

/* Menu links */
a, a:visited, a:hover {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/* Flexbox styles */
nav {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 95%;
}

ol {
  padding-left: 0;
}

ul {
  padding-left: 2rem;
}

h1 {
  text-transform: uppercase;
  font-size: 7rem;
}

h2 {
  font-size: 4.5rem;
  margin-top: 0;
  text-transform: uppercase;
  color: #0E0B58;
  font-weight: bolder;
}

h3 {
  margin-top: 0;
  text-transform: uppercase;
  color: #0E0B58;
  font-weight: bolder;
}

strong {
  color: #0E0B58;
  font-weight: bolder;
}

p {
  font-size: 1.5rem;
}

footer {
  padding: 2rem;
  background-color: #0E0B58;
  justify-content: space-between;
  display: flex;
  color: white;
}

@media only screen and (max-width: 600px) {
  footer {
    display: block;
  }
}


/** Header */
.header__logo {
  background-color: white;
  padding: 2.18125rem 0.625rem 0.625rem 0.625rem;
  margin-top: 0;
  position: relative;
  z-index: 0;
}

img.header__logo {
  width: 9.625rem;
  height: 1.18125rem;
}

/* Burger Menu */
#button_burger {
  z-index: 2;
}

#button_burger span {
  display: block;
  width: 3rem;
  height: 0.1875rem;
  background-color: #0868FF;
  margin-bottom: 0.4rem;
  transform-origin: 7px 2px;
  transition: all 300ms ease-in-out;
}

.header.open span:first-child {
  transform: rotate(45deg);
}

.header.open span:nth-child(2) {
  opacity: 0;
}

.header.open span:last-child {
  transform: rotate(-45deg);
}

/* Overlay */
.header.open .overlay {
  background-color: #0E0B58;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  z-index: 1;
}

/* Header Menu */
.header__menu {
  color: white;
  font-size: 1.875rem;
  font-weight: bold;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  counter-reset: li;
  margin-top: 0;
  position: absolute;
  top: 1%;
  z-index: 1;
}

.header__menu a {
  display: block;
  text-align: left;
  font-size: 7rem;
  line-height: 7rem;
}

.content-heading {
  color: white;
  font-size: 3rem;
  margin-bottom: 5.3125rem;
  margin-top: 0;
}

ol li {
  font-weight: bold;
  margin-bottom: 1.75rem;
  display: flex;
  align-items: center;
}

ol li:before {
  content: '';
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  color: white;
  margin-right: 1.25rem;
  font-size: 2rem;
}

/* Menu links hover */
.text-container {
  position: relative;
  padding-right: 1rem;
  font-size: 7rem;
  line-height: 7rem;
}

@media(hover: hover) and (pointer: fine) {
  li:hover a {
    opacity: 0.2;
    top: 15px;
  }

  .text-overlay:hover:after {
    content: attr(data-hover);
    opacity: 1;
    color: #45B0FF;
    font-size: 1.5rem;
    font-weight: lighter;
    transform: translate(5%, -100%);
    position: absolute;
  }
}

@media only screen and (max-width: 600px) {
  .header__menu a {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  .text-container {
    line-height: 1rem;
  }
}

/** Header animation */
.has-fade {
  visibility: hidden;
}

 @keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation-name: fade-out ;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}


/** Hero */
.hero_image {
  background-image: url(../../images/womain-working-on-bed-with-dog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.hero_image::before {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero_text {
  color: white;
  text-align: left;
  top: 30%;
  left: 3%;
  transform: translate(-3%, -20%);
  position: absolute;
}

.hero_text p {
  font-size: 2rem;
}

.overlay_container {
  position: absolute;
}

.blue_overlay {
  width: 60rem;
  height: 70rem;
  background: #45B0FF;
  transform: rotate(45deg);
  opacity: 0.6;
  margin-right: -20rem;
}

@media only screen and (max-width: 600px) {
  .blue_overlay {
    transform: rotate(45deg) translate(50px, -100px);
  }

  .hero_text {
    top: 30%;
  }
}

@media only screen and (max-width: 992px) {
  .hero_text {
    top: 20%;
  }
}


/** Main */
.open_menu_section {
  background-color: #0E0B58;
  padding: 10rem 3rem 10rem 3rem;
}

.open_menu_text {
  color: white;
}

.open_menu_text h2 {
  margin-right: 4.875rem;
  color: white;
}

.open_menu {
  color: white;
  font-size: 4.5rem;
  font-weight: bold;
  counter-reset: li;
  position: relative;
  left: 0;
  line-height: 5rem;
  padding-left: 3rem;
}

.text-open-menu-overlay:hover:after {
  content: attr(data-hover);
  opacity: 1;
  color: #45B0FF;
  font-size: 1.5rem;
  font-weight: lighter;
  position: absolute;
  height: auto;
  width: 100%;
  justify-content: flex-start;
}

@media only screen and (min-width: 600px) {
  .open_menu_text {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .open_menu_section {
    padding: 5rem 3rem 5rem 3rem;
  }

  .open_menu {
    font-size: 2.5rem;
    line-height: 1rem;
    padding-left: 1rem;
  }

  .open_menu a {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}


/** Chapters */
.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
  padding: 1.25rem;
}

.grid_container div {
  padding-right: 2rem;
}

.grid_container a, .small_grid_container a {
  color: #0072C6;
  text-transform: capitalize;
  text-decoration: underline;
}

.text_divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;
  padding-bottom: 0.5rem;
  color: #45B0FF;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.text_divider::before {
  content: '';
  height: 0.06rem;
  background-color: #45B0FF;
  width: 3rem;
}

.text_divider::before {
  margin-right: 1rem;
}

article a {
  color: #0E0B58;
}

.square_blue_overlay {
  width: 12rem;
  height: 12rem;
  background: #45B0FF;
  margin-right: -7.5rem;
  mix-blend-mode: hard-light;
}

.overlay_1 {
  -webkit-transform: rotate(-19deg) translate(100%, -145%) scale(2);
  -moz-transform: rotate(-19deg) translate(100%, -145%) scale(2);
  -ms-transform: rotate(-19deg) translate(100%, -145%) scale(2);
  -o-transform: rotate(-19deg) translate(100%, -145%) scale(2);
  transform: rotate(19deg) translate(100%, -145%) scale(2);

}

.overlay_2{
  -webkit-transform: rotate(19deg) translate(-80%, -130%) scale(2);
  -moz-transform: rotate(19deg) translate(-80%, -130%) scale(2);
  -ms-transform: rotate(19deg) translate(-80%, -130%) scale(2);
  -o-transform: rotate(19deg) translate(-80%, -130%) scale(2);
  transform: rotate(19deg) translate(-80%, -130%) scale(2);
  opacity: 0.9;
}

.overlay_3 {
  -webkit-transform: rotate(19deg) translate(0%, -160%) scale(2);
  -moz-transform: rotate(19deg) translate(0%, -160%) scale(2);
  -ms-transform: rotate(19deg) translate(0%, -160%) scale(2);
  -o-transform: rotate(19deg) translate(0%, -160%) scale(2);
  transform: rotate(19deg) translate(0%, -160%) scale(2);
  opacity: 0.9;
}

/* Chapter 1 */
.item2_image, .stage_3_image {
  width: 100%;
  height: auto;
  padding-right: 5rem;
}

.flex_box_container {
  flex-direction: row;
  display: flex;
  margin-top: 3rem;
}

.flex_item {
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 114, 198, 0.1);
  width: 33%;
  position: relative;
}

.icon {
  position: absolute;
  left: 1rem;
  top: -3rem;
}

/* Chapter 2 */
.chapter_2 {
  background-color: #FDFAF7;
}

.stage, .stages a {
  color: #45B0FF;
  font-weight: bold;
  text-decoration: none;
}

.flex_box_container_chap_2 {
  flex-direction: row;
  margin-top: 3rem;
}

.flex_item_chap_2 {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(0, 114, 198, 0.1);
  position: relative;
}

.interview_image_box img {
  max-height: 100%;
  max-width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.sticky_notes p {
  text-align: left;
  text-transform: uppercase;
  color: #0072C6;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}

.virtual_interview_grid {
  display: grid;
  grid-template-columns: repeat(3,33%);
  grid-template-rows: repeat(2,15rem);
}

.virtual_interview_grid_item{
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 114, 198, 0.1);
}


.stage_1, .stage_2, .stage_3 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}


ul li {
  list-style-type: square;
  font-style: italic;
}

ul li::marker {
  color: #45B0FF;
}

@media only screen and (max-width: 600px) {

  .grid_container, .flex_box_container, .grid_container_stage_2, .virtual_interview_grid {
    display: block;
  }

  .grid_container div {
    padding-right: 0;
  }

  .flex_item, .virtual_interview_grid {
    width: auto;
    margin-top: 5rem;
    margin-left: 0;
    margin-bottom: 0;
  }

  .overlay_1 {
    -webkit-transform: rotate(19deg) translate(50%, -135%) scale(2);
    -moz-transform: rotate(19deg) translate(50%, -135%) scale(2);
    -ms-transform: rotate(19deg) translate(50%, -135%) scale(2);
    -o-transform: rotate(19deg) translate(50%, -135%) scale(2);
    transform: rotate(19deg) translate(50%, -135%) scale(2);
  }

  .overlay_2 {
    margin-bottom: -5rem;
  }

  .overlay_3 {
    -webkit-transform: rotate(19deg) translate(-20%, -110%) scale(2);
    -moz-transform: rotate(19deg) translate(-20%, -110%) scale(2);
    -ms-transform: rotate(19deg) translate(-20%, -110%) scale(2);
    -o-transform: rotate(19deg) translate(-20%, -110%) scale(2);
    transform: rotate(19deg) translate(-20%, -110%) scale(2);
  }

  .item2_image, .sticky_notes, .stage_3_image {
    padding-top: 10rem;
    padding-bottom: 1rem;
    padding-right: 0;
  }

  .virtual_interview_grid_item {
    margin: 2rem 0 2rem 0;
  }
}

@media only screen and (min-width: 600px) {
  .interview_image_box {
    display: none;
  }
}


/** Slider */
.slider-container {
  overflow: hidden;
  position: relative;
}

.my-slider, .slider-item {
  position: relative;
}

.card {
  overflow: hidden;
  position: relative;
  height: 40rem;
}

.card-title {
  text-transform: capitalize;
  padding-top: 2rem;
}

.card p {
  text-align: right;
  width: 150px;
  display: inline-block;
  position: absolute;
  right: -5rem;
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.card img {
  width: 100%;
  height: auto;
}

.controls {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translatey(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls li:hover {
    cursor: pointer;
}
